<a href="https://colab.research.google.com/github/nicolegold/PraticandoPython/blob/master/AprendendoPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Aulas do curso Aprendendo Python

In [0]:
# -*- coding: utf-8 -*-
x = 1
y = 2

if x==y:
  print("Numeros iguais")
elif y>x:
  print("y é maior que x")
else:
  print("Numeros diferentes")

In [0]:
x =1

while x < 10:
  print(x)
  x = x+1

In [0]:
lista1 = [1,2,3,4,5]
lista2 = ["ola","mundo","!"]
lista3 = [0,"ola",9.99,True]

for i in lista3: #para cada elemente do laço for o valor i sera atribuido a cada um dos elementos
  print(i)

In [0]:
for i in range(10): #vai me retornar uma lista com 10 elementos
  print(i)

In [0]:
 numero = input("Digite um numero: ")
  print("O numero digitado eh: ")
  print(numero)

In [0]:
nome = input("Digite seu nome: ")
  print("Bem-vindo "+nome)

In [0]:
a = "Nicole"
b = "Diego"

concatenar = a + " "+ b
print(concatenar)

In [0]:
a = "Nicole"
b = "Diego"

concatenar = a + " "+ b

tamanho = len(concatenar)
print(tamanho)

In [0]:
a = "Nicole"
b = "Diego"

concatenar = a + " "+ b

print(a[2])

In [0]:
a = "Nicole"
b = "Diego"

concatenar = a + " "+ b

print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])

In [0]:
a = "Nicole"
b = "Diego"

concatenar = a + " "+ b

print(concatenar[0:9])

In [0]:
a = "Nicole"
b = "Diego"

concatenar = a + " "+ b

print(concatenar)
print(concatenar.lower()) #imprimir em minusculo
print(concatenar.upper()) #imprimir em maiusculo

concatenar = concatenar.upper()
print(concatenar)

In [0]:
a = "Nicole"
b = "Diego"

concatenar = a + " "+ b + "\n"

print(concatenar.strip())

In [0]:
minha_string = "O rato roeu a roupa do rei de Roma"

minha_lista = minha_string.split()
print(minha_lista)

In [0]:
minha_string = "O rato roeu a roupa do rei de Roma"

minha_lista = minha_string.split("r")
print(minha_lista)

#case sensitive : quando o r difere do R

In [0]:
minha_string = "O rato roeu a roupa do rei de Roma"

#em que posiçao aparece rei

busca = minha_string.find("rei")
print(busca)

In [0]:
minha_string = "O rato roeu a roupa do rei de Roma"

#too o trecho dps da palavra rei

busca = minha_string.find("rei")
print(minha_string[busca:])

In [0]:
minha_string = "O rato roeu a roupa do rei de Roma"

minha_string = minha_string.replace("o rei", "a rainha")

print(minha_string)

In [0]:
def soma(x, y):
  print(x)
  print(y)
  print(x + y)
  
soma(2, 3)

In [0]:
def soma(x, y):
  return x+y

def multiplicacao(x, y):
  return x*y
s = soma(2, 3)
m = multiplicacao(3, 4)
print(s)
print(m)
print(soma(s, m))

In [0]:
# criei um arquivo.txt antes

arquivo = open('arquivo.txt')

#para exibir conteudo do arquivo:
linhas = arquivo.readlines()

for linha in linhas:
  print(linha)

In [0]:
# criei um arquivo.txt antes

arquivo = open('arquivo.txt')

#para exibir conteudo do arquivo:
texto_completo = arquivo.readlines()
print(texto_completo)

In [0]:
#criando um arquivo

w = open("arquivo2.txt", "w")

#gravando informações no arquivo2:

w.write("Esse eh o meu arquivo")

w.close() #lembrar de fechar o arquivo

In [0]:
minha_lista = ["abacaxi","melancia","abacate"]
minha_lista_2 = [1,2,3,4,5]
minha_lista_3 = ["abacaxi",2,9.89,True]

print(minha_lista_3)
print(minha_lista[2])

for item in minha_lista:
  print(item)

In [0]:
minha_lista = ["abacaxi","melancia","abacate"]
minha_lista_2 = [1,2,3,4,5]
minha_lista_3 = ["abacaxi",2,9.89,True]

tamanho = len(minha_lista)

print(tamanho)

In [0]:
# -*- coding: utf-8 -*-
minha_lista = ["abacaxi","melancia","abacate"]
minha_lista_2 = [1,2,3,4,5]
minha_lista_3 = ["abacaxi",2,9.89,True]

minha_lista.append("limão")

print(minha_lista)

In [0]:
# -*- coding: utf-8 -*-
minha_lista = ["abacaxi","melancia","abacate"]
minha_lista_2 = [1,2,3,4,5]
minha_lista_3 = ["abacaxi",2,9.89,True]

minha_lista.append("limão") # adicionar itens

if 3 in minha_lista_2:
  print("3 está na lista")

In [0]:
# -*- coding: utf-8 -*-
minha_lista = ["abacaxi","melancia","abacate"]
minha_lista_2 = [1,2,3,4,5]
minha_lista_3 = ["abacaxi",2,9.89,True]

minha_lista.append("limão")

del minha_lista[2:] #apagar itens
print(minha_lista)

In [0]:
# -*- coding: utf-8 -*-
minha_lista_4 = []

minha_lista_4.append(57)

print(minha_lista_4)

In [0]:
lista = [124,345,7,43,45,78,9,87,45]

lista.sort() #ordenação da lista

print(lista)

[7, 9, 43, 45, 45, 78, 87, 124, 345]

In [0]:
lista = [124,345,7,43,45,78,9,87,45]

lista.sort(reverse=True) #ordenação da lista decrescente

print(lista)

[345, 124, 87, 78, 45, 45, 43, 9, 7]

In [0]:
lista = [124,345,7,43,45,78,9,87,45]

lista.reverse() #reverter a lista

print(lista)

[45, 87, 9, 78, 45, 43, 7, 345, 124]

In [0]:
lista2 = ["bola","abacate","dinheiro"]

lista2.sort()
# lista2.sort(reverse=True)

print(lista2)

In [0]:
# dicionarios em python
dicionario_sites = {"Diego": "diegomariano.com"}
print(dicionario_sites['Diego'])
# Sera impresso "diegomariano.com

#se o dicionario tiver varios elementes, podemos usar laços
for chave in dicionario_sites:
    print(dicionario_sites[chave])

In [0]:
meu_dicionario = {"A":"AMEIXA","B":"BOLA","C":"CACHORRO"}

print(meu_dicionario["A"])
print(meu_dicionario["B"])
print(meu_dicionario["C"])

print(meu_dicionario)

In [0]:
meu_dicionario = {"A":"AMEIXA","B":"BOLA","C":"CACHORRO"}

for chave in meu_dicionario:
  print(chave+"-"+meu_dicionario[chave])

In [0]:
meu_dicionario = {"A":"AMEIXA","B":"BOLA","C":"CACHORRO"}

for i in meu_dicionario.items():
  print(i)

In [0]:
meu_dicionario = {"A":"AMEIXA","B":"BOLA","C":"CACHORRO"}

for i in meu_dicionario.values():
  print(i)

In [0]:
meu_dicionario = {"A":"AMEIXA","B":"BOLA","C":"CACHORRO"}

for i in meu_dicionario.keys():
  print(i)

In [0]:
import random
#gerar numeros aleatorios

numero = random.randint(0,10) #escolhe numero de 0 a 10
print(numero)

In [0]:
import random

random.seed(1) #mesmo resultado
numero = random.randint(0,10) #escolhe numero de 0 a 10
print(numero)

In [0]:
import random

lista = [6,45,9]
numero = random.choice(lista) #aleatoriamente escolhe um valor
print(numero)

In [0]:
#exceções na linguagem python

                                #divisoes com zero
a = 2
b = 0

try:
  print(a/b)
  
#caso um erro ocorra:

except:
  print("Não é permitida divisao por 0")
  
print(a/a)

In [0]:
#EXERCÍCIO 1:
#Faça um programa que receba a idade do usuário e diga se ele é maior ou menor de idade.   

# -*- coding: utf-8 -*-
idade = float(input("Digite sua idade: "))
print("A idade digitada foi: ") 
print(idade)

if idade >= 18:
  print("Você é maior de idade")
elif idade >0 and idade <18:
  print("Você é menor de idade")
else:
  print("Idade inválida")

In [0]:
#EXERCÍCIO 2:
#Faça um programa que receba duas notas digitadas pelo usuário. Se a nota for maior ou igual a seis, escreva aprovado, senão escreva reprovado.

nota1 = float(input("Informe sua primeira nota: "))
print("Nota informada: ")
print(nota1)

nota2 = float(input("Informe sua segunda nota: "))
print("Nota informada: ")
print(nota2)

media = (nota1+nota2)/2
print("Sua media eh: ", media)

if media >= 6:
  print("Voce foi aprovado")
else:
  print("Voce foi reprovado")

In [0]:
#EXERCÍCIO 3:
#Escreva um programa que resolva uma equação de segundo grau.   
from math import sqrt
a = float(input("Valor de a: "))
b = float(input("Valor de b: "))
c = float(input("Valor de c: "))

delta = b**2 - 4*a*c
raiz_delta = sqrt(delta)
x1 = (-b + raiz_delta)/(2*a)
x2 = (-b - raiz_delta)/(2*a)

print("x1: %d",x1)
print("x2: %d",x2)

In [0]:
#EXERCÍCIO 4:
#Escreva um programa que ordene uma lista numérica com três elementos.  
#usando metodo select sort
lista = [3,2,1]

for i in range(len(lista)):
   
    menor = i
    
    for j in range(i+1, len(lista)):
      
      if lista[j] < lista[menor]:
        menor = j
    
    if lista[i] != lista[menor]:
      aux = lista[i]
      lista[i] = lista[menor]
      lista[menor] = aux
        
print (lista)

In [0]:
#EXERCÍCIO 5
#Escreva um programa que receba dois números e um sinal, e faça a operação matemática definida pelo sinal.   

num1 = input("Digite o primeiro numero: ")
operador = input("Digite o operador: ")
num2= input("Digite o segundo numero: ")

if operador == "+":
  resultado = num1 + num2
  
elif operador == "-":
  resultado = num1 - num2
  
elif operador == "/":
  resultado = num1 / num2 
  
elif operador == "*":
  resultado = num1 * num2
  
elif operador == "%":
  resultado = num1 % num2
  
elif operador == "**":
  resultado = num1 **  num2
  
else:
  print("Falha")
  
print(resultado)

**Função list comprehension**

In [0]:
#list comprehension

x = [1,2,3,4,5]
# y=[valor_a_adicionar laço condição]
y = [i**2 for i in x]
print("Usando list comprehension")
print(x)
print(y)

In [0]:
#list comprehension

x = [1,2,3,4,5]
# y=[valor_a_adicionar laço condição]
y = [i**2 for i in x]
#apenas numeros impares
z= [i for i in x if i%2==1]
print("Usando list comprehension para numero impares")

print(z)

**Função enumerate**

In [0]:
lista = ["abacate","cachorro","bola"]

#COMUM
#for i in range(len(lista)):
#  print(i, lista[i])

#COM função enumerate

for i, nome in enumerate(lista):
  print(i, nome)

**Função filter**

In [0]:
#filter
#quero apenas os valores pares

def pares(i):
  if i % 2 == 0:
    return i
  
lista = [1,2,3,4,5,6,7,8,9,10]

lista_pares = filter(pares, lista)
print(list(lista_pares))

In [0]:
#filter
#quero apenas os valores impares

def pares(i):
  if i % 2 == 1:
    return i
  
lista = [1,2,3,4,5,6,7,8,9,10]

lista_pares = filter(pares, lista)
print(list(lista_pares))

**Função map**

In [0]:
# map
#codigo sem a função map
def dobro(x):
  return x*2

#usando apenas um valor
valor = 2
print(dobro(valor))

In [0]:
# map
#utilizando de fato a função map
def dobro(x):
  return x*2

#usando mais valores
# valor = [1,2,3,4,5] #como nao dara certo, teremos que utilizar map
#print(dobro(valor))

valor = [1,2,3,4,5]

valor_dobrado = map(dobro, valor)

#for v in valor_dobrado:
#  print(v)
  
  
# para converter em apenas uma lista

valor_dobrado = list(valor_dobrado)
print("Em forma de lista: ")
print(valor_dobrado)

Em forma de lista:
[2, 4, 6, 8, 10]

**Função reduce**

In [0]:
#reduce

#retorna apenas um valor pra lista
from functools import reduce

def soma(x, y):
  return x+y
  
lista = [1,3,5,10,20]

soma = reduce(soma, lista)
print(soma)

39

**Função zip**

In [0]:
#zip

lista1 = [1,2,3,4,5]
lista2 = ["abacate","bola","cachorro","dinheiro","elefante"]
lista3 = ["R$ 2,00","R$ 5,00","Não tem preço","Não tem preço","Não tem preço"]

#zip concatena as duas listas como se fosse uma só

for numero, nome, valor in zip(lista1, lista2, lista3):
  print(numero, nome, valor)

## Exercícios do livro Pense em Python (2ª ed.), de Allen B. Downey
https://penseallen.github.io/PensePython2e/

Capítulo 2.2

1) O volume de uma esfera com raio r é ((4/3)pir^3)Qual é o volume de uma esfera com raio 5?

In [0]:
import math

r = 5

volume = 4/3 * math.pi * math.pow(float(r),3)

print("O volume da esfera com raio 5 é: ", volume)

O volume da esfera com raio 5 é:  523.5987755982989

2) Suponha que o preço de capa de um livro seja R 24,95,mas as livrarias recebem um desconto de 40%. O transporte custa R$ 3,00 para o primeiro exemplar e 75 centavos para cada exemplar adicional. Qual é o custo total de atacado para 60 cópias?

In [0]:
capa = 24.95
descontocapa = capa*0.4
transporte = 3
maistransporte=3+(59*0.75)

total = descontocapa + maistransporte
print("O custo total de atacado para as 60 cópias é de: ", total)

O custo total de atacado para as 60 cópias é de:  57.230000000000004

3) Se eu sair da minha casa às 6:52 e correr 1 quilômetro a um certo passo (8min15s por quilômetro), então 3 quilômetros a um passo mais rápido (7min12s por quilômetro) e 1 quilômetro no mesmo passo usado em primeiro lugar, que horas chego em casa para o café da manhã?

In [0]:
horasaida = 6.52

sair1 = horasaida + 0.815
sair2 = sair1 + (3*0.712)
sair3 = sair2 + 0.815

horachegada = sair3

print("Cheguei as: ", horachegada)

Cheguei as:  10.286